In [9]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime

In [10]:
engine = create_engine('sqlite:///Data/FPA_FOD_20170508.sqlite', echo=False)

In [22]:
fires_df = pd.read_sql(sql="Fires",con=engine,index_col='FOD_ID',columns=['FPA_ID','FIRE_NAME','FIRE_YEAR','DISCOVERY_DOY','CONT_DOY','FIRE_SIZE','FIRE_SIZE_CLASS','LATITUDE','LONGITUDE','STATE','COUNTY','STAT_CAUSE_DESCR','OWNER_CODE','OWNER_DESCR'])
fires_df.head()

,FPA_ID,FIRE_NAME,FIRE_YEAR,DISCOVERY_DOY,CONT_DOY,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,STAT_CAUSE_DESCR,OWNER_CODE,OWNER_DESCR
FOD_ID,,,,,,,,,,,,,,
1,FS-1418826,FOUNTAIN,2005,33,33.0,0.10,A,40.036944,-121.005833,CA,63,Miscellaneous,5.0,USFS
2,FS-1418827,PIGEON,2004,133,133.0,0.25,A,38.933056,-120.404444,CA,61,Lightning,5.0,USFS
3,FS-1418835,SLACK,2004,152,152.0,0.10,A,38.984167,-120.735556,CA,17,Debris Burning,13.0,STATE OR PRIVATE
4,FS-1418845,DEER,2004,180,185.0,0.10,A,38.559167,-119.913333,CA,3,Lightning,5.0,USFS
5,FS-1418847,STEVENOT,2004,180,185.0,0.10,A,38.559167,-119.933056,CA,3,Lightning,5.0,USFS

In [23]:
fires_df["DAYS_TO_CONT"] = fires_df.CONT_DOY.sub(fires_df.DISCOVERY_DOY)

In [24]:
fires_df.DAYS_TO_CONT.isnull().value_counts()

False    988934
True     891531
Name: DAYS_TO_CONT, dtype: int64

In [20]:
# The "DATES" from the dataset are in an unknown format. supposedly it is the format (mm/dd/yyyy) 
# fires_df["__DISCOVERY_DATE"] = (fires_df.DISCOVERY_DATE.values*442).astype('datetime64[s]')
# fires_df["__CONT_DATE"] = (fires_df.CONT_DATE.values*442).astype('datetime64[s]')

In [25]:
%%timeit -n 1 -r 1
# THIS WILL TAKE 78 HOURS TO RUN without .dropna or .head()
for row in fires_df.dropna(how='any').head(16277).iterrows():
    disc_year = row[1][2]
    disc_doy = row[1][3]
    cont_doy = row[1][4]
    if cont_doy < disc_doy:
        cont_year = row[1][2] + 1
    else:
        cont_year = row[1][2]
    try:
        fires_df.loc[row[0],"__DISCOVERY_DATE"] = (datetime.datetime(disc_year, 1, 1) + datetime.timedelta(disc_doy - 1))
        fires_df.loc[row[0],"__CONT_DATE"] = (datetime.datetime(cont_year, 1, 1) + datetime.timedelta(cont_doy - 1))
    except ValueError:
        pass

17min 38s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [26]:
fires_df.to_csv('Fire_Data.csv',index=False)

In [28]:
np.save("Fire_Data.npy",fires_df)