In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,inspect
import pprint

In [2]:
engine = create_engine("sqlite:///FPA_FOD_20170508.sqlite", echo=False)

In [ ]:
engine.execute("SELECT FIRE_NAME FROM Fires").fetchall()

In [4]:
fires_df = pd.read_sql(sql="Fires",con=engine,index_col='FOD_ID',columns=['FPA_ID','FIRE_NAME','COMPLEX_NAME'])
fires_df.head()

            FPA_ID FIRE_NAME COMPLEX_NAME
FOD_ID
1       FS-1418826  FOUNTAIN         None
2       FS-1418827    PIGEON         None
3       FS-1418835     SLACK         None
4       FS-1418845      DEER         None
5       FS-1418847  STEVENOT         None